*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(46, 29, 29);
    overflow: hidden;
}
h1{
    text-align: center;
    color: #ffffff;
}
.circle{
    background:none;
    transform-origin: 50%;
    transform: scale(.5);
    animation:mymove 1s ease-in-out infinite alternate;;
}
@keyframes mymove{
    100% {transform: rotate(360deg);}
}
